<div class="db-page">
    <div class="row db_card_hd">
        <!-- <div class="dbd_card col-lg-2 col-md-2 col-sm-2 col-xs-12 "><h3>Transaction History</h3><hr>
      <div ng-repeat="transaction in transactions | orderBy:'-'">
        <span>{{transaction.displayDate}} <br> {{transaction.type}} {{transaction.coinChange > 0 ? transaction.coinChange : transaction.coinChange * -1}} BTC <br> Balance: {{transaction.numCoins}} BTC | ${{(transaction.cash).toFixed(2)}} USD<hr></span>
        </div>
      </div> -->
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <div class="dbd_card pad5">
                <h3>Current Bitcoin Price</h3>
                <hr>
                <h1 id="bcprice">$  {{currentPrice | number:2}}</h1>
                <p id="date_posted">{{ date | date:"MMM d, y h:mm" }}</em>
                </p>
            </div>
            <div class="dbd_card pad5">
                <h3>Your Account</h3>
                <hr>
                <p><strong>Name: </strong>{{user.name}}</p>
                <p><strong>Username: </strong>{{user.username}}</p>
                <p><strong>Email: </strong>{{user.email}}</p>
            </div>
            <div class="dbd_card pad5">
                <h3>Your Wallet</h3>
                <hr>
                <p><strong>USD Available: </strong>{{assets[0] |currency}}</p>
                <p><strong>Bitcoins: </strong> ฿{{assets[1] |number:4}}</p>
                <p><strong>Net Worth: </strong> ${{ (assets[1] * currentPrice) + assets[0] | number:4}}</p>
                <div class="row">
                    <button class="s-btn col-lg-5 col-md-12" ng-click="sellModal=true">Sell</button>
                    <button class="b-btn col-lg-5 col-md-12" ng-click="buyModal=true">Buy</button>
                </div>
            </div>
        </div>
        <div class="dbd_card col-lg-5 col-md-11 col-sm-11 col-xs-11 " id="dbd_acct">
            <h3>Account Activity</h3>
            <hr>
            <div ng-controller="usergraphController">
                <canvas id="user-chart"></canvas>
            </div>
        </div>
        <!--Table 2 Transaction History ################# -->
        <div class="dbd_card col-lg-4 col-md-8 col-sm-11 col-xs-11">
            <transxn:table></transxn:table>
            <div class="row">
                <button class="b-btn col-lg-5 col-md-12" ng-click="transxnModal=true">See all transactions</button>
            </div>
        </div>
    </div>
    <div class="modal_window" ng-show="buyModal">
        <div class="modal_body">
            <div class="glyphicon glyphicon-remove" ng-click="buyModal=false; numBuy=null"></div>
            <form name=buyForm class="form buySellModal" ng-submit="buyCoin(numBuy);buyModal=false">
                <h3>Buy Bitcoins</h3>
                <hr>
                <h4>How many Bitcoins would you like to Buy?</h4><br>
                <div class="row">
                    <div class="col-xs-3">{{"Total"}}<br>{{numBuy * currentPrice|currency}}</div>
                    <input class="col-xs-8" name="numBuy" ng-model="numBuy" type="number" placeholder="0" required="required" min="0" max="{{assets[0]/ currentPrice}}" ng-max="{{assets[0]/ currentPrice}}" step="0.0001" autofocus/>
                </div>
                <p class="message">Max ฿ {{assets[1] | number:3}}</p><br>
                <div class="error" role="alert">
                    <span ng-show="buyForm.numBuy.$error.max">
            Exceeds {{assets[0] | currency}} in your account</span>
                </div>
                <button type="submit">Buy</button>
            </form>
        </div>
    </div>
    <div class="modal_window" ng-show="sellModal">
        <div class="modal_body">
            <div class="glyphicon glyphicon-remove" ng-click="sellModal=false; numSell=null"></div>
            <form name="sellForm" class="form buySellModal" ng-submit="sellCoin(numSell);sellModal=false">
                <h3>Sell Bitcoins</h3>
                <hr>
                <h4>How many Bitcoins would you like to sell?</h4><br>
                <div class="row">
                    <div class="col-xs-3">{{"Total"}}<br>{{numSell * currentPrice|currency}}</div>
                    <input class="col-xs-8" name="numSell" ng-model="numSell" type="number" placeholder="0" required="required" min="0" max="{{assets[1]}}" ng-max="{{assets[1]}}" step="0.0001" autofocus/>
                </div>
                <p class="message">Max ฿ {{assets[1] | number:3}}</p><br>
                <div class="error" role="alert">
                    <span ng-show="sellForm.numSell.$error.max">
             Exceeds ฿ {{assets[1] | number:4}} in your account</span>
                </div>
                <button type="submit">Sell</button>
            </form>
        </div>
    </div>


    <div class="modal_window" ng-show="transxnModal">
        <div class="modal_body"  id="myModal">
            <div class="glyphicon glyphicon-remove" ng-click="transxnModal=false; numSell=null"></div>
            <div class="modal-content">
                <transxn:table:all></transxn:table:all>

            </div>
        </div>
    </div>

</div>
