<div class="db-page">
<h1 class="db_header">Dashboard</h1>

<div class="row db_card_hd">
  <div class="col-xs-5 dbd_card">
    <h3>Your Account</h3><hr>
    <p><strong>Name: </strong>{{"Jane Doe"}}</p>
      <p><strong>Username: </strong>{{"UnPlaceholder"}}</p> </div>

  <div class="col-xs-6 dbd_card">
    <h3>Your Wallet</h3><hr>
    <p><strong>USD Available: </strong>{{assets[0] |currency}}</p>
    <p><strong>Bitcoins: </strong>{{assets[1] |currency}}</p>

    <form class="buy-form" ng-submit="buyCoin(numBuy)">
      <input ng-model="numBuy" type="number" min="1" max="20" placeholder="0" required="required" ng-min="1" ng-max="20"/>
      <button type="submit" id="sell_button" class="btn">Buy</button>
    </form>

    <form class="buy-form" ng-submit="sellCoin(numSell)">
      <input ng-model="numSell" type="number" min="1" max="20" placeholder="0" required="required" ng-min="1" ng-max="20"/>
      <button type="submit" id="sell_button" class="btn">Sell</button>
    </form>

  </div>
</div>

<div class="row db_card_hd">
  <div class="col-xs-7  dbd_card"><h3>Currency Comparisons</h3><hr></div>
  <div class="col-xs-4  dbd_card"><h3>Bitcoin Price (USD)</h3><hr><h1 id="bcprice">{{currentPrice | currency:"$ "}}</h1><p id="date_posted">Updated on Date Here</em></p>
  </div>
</div>

<div class="row db_card_hd">
  <div class="col-xs-12 dbd_card" id="dbd_acct"><h3>Account Activity</h3><hr>
  <div class="acct_graph"></div>
</div>

</div>
</div>
