<h1 class="pg_header">Dashboard</h1>
<div class="db-page" ng-controller="usergraphController">
  <div class="row db_card_hd">

    <div class="jointCard col-lg-2 col-md-3 col-sm-4 col-xs-11">
      <div class="dbd_card"><h3>Current Bitcoin Price</h3><hr><h1 id="bcprice">$  {{currentPrice | number:2}}</h1><p id="date_posted">{{ date | date:"MMM d, y h:mm" }}</em></p>
      </div>

      <div class="dbd_card">
        <h3>Your Account</h3><hr>
        <p><strong>Name: </strong>{{user.name}}</p>
        <p><strong>Username: </strong>{{user.username}}</p>
        <p><strong>Email: </strong>{{user.email}}</p>
      </div>
    </div>

    <div class="dbd_card col-lg-7 col-md-8 col-sm-7 col-xs-11 " id="dbd_acct"><h3>Account Activity</h3><hr>
      <div>
        <canvas id="user-chart"></canvas>
      </div>
    </div>

    <div class="dbd_card col-lg-2 col-md-3 col-sm-7 col-xs-11 ">
      <h3>Your Wallet</h3><hr>
      <p><strong>USD Available: <br></strong>{{assets[0] |currency}}</p>
      <p><strong>Bitcoins: <br></strong> ฿{{assets[1] |number:4}}</p>
      <p><strong>Net Worth: <br></strong> ${{ (assets[1] * currentPrice) + assets[0] | number:4}}</p><br>
      <div class="row">
        <button class="s-btn col-lg-11" ng-click="sellModal=true">Sell</button><br>
        <button class="b-btn col-lg-11" ng-click="buyModal=true">Buy</button>
      </div>
    </div>

    <div class="dbd_card col-lg-7 col-md-6 col-sm-11 col-xs-11">
      <hello></hello>
      <div class="glyphicon glyphicon-chevron-down" ng-click=""></div>
    </div>
  </div>
</div>

  <div class="modal_window" ng-show="buyModal">
    <div class="modal_body">
      <div class="glyphicon glyphicon-remove" ng-click="buyModal=false; numBuy=null"></div>
      <form name =buyForm class="form buySellModal" ng-submit="buyCoin(numBuy);buyModal=false">
        <h3>Buy Bitcoins</h3><hr>
        <h4>How many Bitcoins would you like to Buy?</h4><br>
        <div class="row">
          <div class="col-xs-3">{{"Total"}}<br>{{numBuy * currentPrice|currency}}</div>
          <input class="col-xs-8"  name="numBuy" ng-model="numBuy" type="number" placeholder="0" required="required" min="0" max="{{assets[0]/ currentPrice}}" ng-max="{{assets[0]/ currentPrice}}" step="0.0001" autofocus/>
        </div>
        <p class="message">Max ฿ {{assets[1] | number:3}}</p><br>
        <div class="error" role="alert">
          <span ng-show="buyForm.numBuy.$error.max">
            Exceeds {{assets[0] | currency}} in your account</span>
          </div>
        <button type="submit">Buy</button>
      </form>
    </div>
  </div>

   <div class="modal_window" ng-show="sellModal">
     <div class="modal_body">
       <div class="glyphicon glyphicon-remove" ng-click="sellModal=false; numSell=null"></div>
       <form name="sellForm" class="form buySellModal" ng-submit="sellCoin(numSell);sellModal=false">
         <h3>Sell Bitcoins</h3><hr>
         <h4>How many Bitcoins would you like to sell?</h4><br>
         <div class="row">
           <div class="col-xs-3">{{"Total"}}<br>{{numSell * currentPrice|currency}}</div>
           <input class="col-xs-8" name="numSell" ng-model="numSell" type="number" placeholder="0" required="required" min="0" max="{{assets[1]}}" ng-max="{{assets[1]}}" step="0.0001" autofocus/>
         </div>
         <p class="message">Max ฿ {{assets[1] | number:3}}</p><br>
         <div class="error" role="alert">
           <span ng-show="sellForm.numSell.$error.max">
             Exceeds ฿ {{assets[1] | number:4}} in your account</span>
           </div>
         <button type="submit">Sell</button>
       </form>
     </div>
   </div>
