  <h1 class="pg_header historical_hd">Historical Data</h1>

<div class="historical">
      <button class="btn btn-default"><a ui-sref="info.weekly({veryLongParamHome:'Home--f8d218ae-d998-4aa4-94ee-f27144a21238'})">Past Week</a></button>
      <button class="btn btn-default"><a ui-sref="info.monthly({veryLongParamHome:'Home--f8d218ae-d998-4aa4-94ee-f27144a21238'})">Past Month</a></button>
      <button class="btn btn-default"><a ui-sref="info.yearly({veryLongParamHome:'Home--f8d218ae-d998-4aa4-94ee-f27144a21238'})">Past Year</a></button>
      <button class="btn btn-default"><a ui-sref="info.total({veryLongParamHome:'Home--f8d218ae-d998-4aa4-94ee-f27144a21238'})">Total</a></button>
</div>
<div class="row">
  <div class="col-sm-2 col-md-2 col-lg-2"></div>
  <div class="dbd_card col-sm-8 col-sm-8 col-lg-8">
    <ui-view>
    </ui-view>
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2"></div>
</div>
