  <h1 class="pg_header">Historical Data</h1>

<div>
  <nav class="navbar">
    <ul class="col-lg-12">
      <li><a ui-sref="info.weekly({veryLongParamHome:'Home--f8d218ae-d998-4aa4-94ee-f27144a21238'})">Weekly</a></li>
      <li><a ui-sref="info.monthly({veryLongParamHome:'Home--f8d218ae-d998-4aa4-94ee-f27144a21238'})">Monthly</a></li>
      <li><a ui-sref="info.yearly({veryLongParamHome:'Home--f8d218ae-d998-4aa4-94ee-f27144a21238'})">Yearly</a></li>
      <li><a ui-sref="info.total({veryLongParamHome:'Home--f8d218ae-d998-4aa4-94ee-f27144a21238'})">Total</a></li>
    </ul>
  </nav>
  <ui-view></ui-view>
</div>

<!-- <div ng-controller="hgraphController">
  <div class="row">
    <h2 class="col-xs-12 chartHeader">Bitcoin Value This Month</h2>
    <canvas id="m-chart" class="col-xs-12"></canvas>
  </div>
  <div class="row">
    <h2 class="col-xs-12 chartHeader">Bitcoin Value This Year </h2>
    <canvas id="y-chart" class="col-xs-12"></canvas>
  </div>
  <div class="row">
    <h2 class="col-xs-12 chartHeader">Bitcoin Value Since 2010</h2>
    <canvas id="h-chart" class="col-xs-12"></canvas>
  </div>
</div> -->
