<div class="row">
  <h2 class="col-sm-12 col-lg-12 chartHeader">Bitcoin Value This Week</h2>
  <canvas id="w-chart" class="col-lg-12"></canvas>
</div>
<div class="row">
  <h2 class="col-sm-12 col-lg-12 chartHeader">Bitcoin Value This Month</h2>
  <canvas id="m-chart" class="col-lg-12"></canvas>
</div>
<div class="row">
  <h2 class="col-sm-12 col-lg-12 chartHeader">Bitcoin Value This Year </h2>
  <canvas id="y-chart" class="col-lg-12"></canvas>
</div>
<div class="row">
  <h2 class="col-sm-12 col-lg-12 chartHeader">Bitcoin Value Since 2010</h2>
  <canvas id="h-chart" class="col-lg-12"></canvas>
</div>
