<div class="banner">

<div class="landing_box row">
  <div class="col-xs-6 l-box1">
    <h1>Welcome to <br><span>Bitcoin</span></h1>
    <p><span>Bitcoin</span> is a cryptocurrency and a digital payment system released as open-source software in 2009. <span>Bitcoin</span> is a peer-to-peer system where transactions take place between users directly, without an intermediary. Since the system works without a central repository or single administrator, bitcoin is called the first decentralized digital currency.</p>
    <a href="views/info.html"><div class="lrn-link">Learn More</div></a>
  </div>

  <div class="log-box col-xs-6 row">
    <div class="row">
      <h2><strong>Log-in or Sign-up</strong></h2>
      <h4>To Manage your own <span>Bitcoin</span> Wallet</h4>
    </div>

      <div class="log-row row">
        <div class="l-icon col-xs-3"></div>
        <div class="col-xs-9"><h4>Manage Your Own Bitcoin Wallet</h4></div>
      </div>
      <div class="log-row row">
        <div class="l-icon col-xs-3"></div>
        <div class="col-xs-9"><h4>Buy and Sell Bitcoins</h4></div>
      </div>
      <div class="log-row row">
        <div class="l-icon col-xs-3"></div>
        <div class="col-xs-9"><h4>Compare BTC Values in Real-time<h4></div>
      </div>
    </div>

</div>

</div>


<!-- <div class="login-box">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button class="btn">login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
</div> -->
